* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    align-items: center;
    width: 1440px;
    height: 100vh;
    background-color: #fffdf3;
}

/*nav-bar div*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
    gap: 36px;
    width: 100%;
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 36px;
    width: 100%;
    height: 56px;
}

.nav-button {
    width: 64px;
    height: 22px;
    background-color: #FFFFFF;
    color: rgba(51, 51, 51, 0.68);
    font-weight: 500;
    border: #FFFFFF;
    position: absolute;
    top: 30px;
    left: 1176px;
    cursor: pointer;
}

.logo {
    width: 237px;
    height: 56px;
}

/*header main conten*/

main {
    display: flex;
    flex-direction: column;
    padding: 64px 120px;
    width: 100%;
    gap: 64px;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 140px 64px;
    font-family: "poppins";
    text-align: center;
    color: #ffffff;
    gap: 26px;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/gambar/background.jpg);
    border-radius: 10px;
}

.tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.2px;
}

input {
    background-color: rgba(62, 207, 76, 1);
    width: 370px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
/* Card Section */

.daftar-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 1200px;
    height: 1525px;
    margin-top: 64px;
}

.tittle-isi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 623px;
    height: 67px;
    color: rgba(51, 51, 51, 0.68);
}

h4 {
    font-family: "popins";
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
    color: rgba(34, 35, 37, 1);
}

.nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.nav-video {
    justify-self: flex-start;
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.68);
    padding: 10px 15px;
    width: auto;
    height: auto;
    text-decoration: none;
    cursor: pointer;
}

.nav-video:hover,
.nav-video:active {
    color: rgba(246, 73, 32, 1);
    background-color: transparent;
    box-sizing: border-box;
}

.draf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    gap: 24px;
    width: 100%;
    height: 426px;
    margin: 32px;
}

.isi {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
    width: 384px;
    height: 426px;
    padding: 20px;
    border: 1px solid rgba(58, 53, 65, 0.12);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.68);
}

.Avatar-daftar {
    width: 344px;
    height: 193px;
    border-radius: 10px;
}

h4 {
    text-align: justify;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: rgba(34, 35, 37, 1);
}

.nilai {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 344px;
    height: 42px;
}

.harga {
    display: flex;
    width: 344px;
    height: 29px;
    justify-content: space-between;
}

.rating {
    width: 90px;
    height: 18px;
    gap: 10px;
}

.checked {
    height: 12px;
    width: 12px;
    color: rgba(252, 233, 27, 1);
}

.none {
    height: 12px;
    width: 12px;
    color: rgba(58, 53, 65, 0.12);
}

.number-rating {
    text-decoration: underline 1px solid;
}

h3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    color: rgba(62, 207, 76, 1);
}

/*tittle bawah */

.tittle-bawah {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 140px 64px;
    font-family: "poppins";
    text-align: center;
    color: #ffffff;
    margin: 64px;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/gambar/background2.jpg);
    border-radius: 4px;    
}

.pencarian {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 8px;
    height: 58px;
    width: 525px;
    background-color: rgba(255, 255, 255, 1);
    margin: 40px;
}

.Emailmu {
    font-family: "DM Sans";
    border: transparent;
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.68);
    width: 333px;
    height: 22px;
}

.button-tittle {
    height: 42px;
    width: 132px;
    border: transparent;
    border-radius: 10px;
    background-color: rgba(255, 189, 58, 1);
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    padding: 60px 120px;
    gap: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 1);
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 40px;
    height: 199px;
}

.alamat {
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 190px;
    grid-area: 16px;
}

.navigator {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 485px;
    height: 199px;
    gap: 48px;
}

.nav-footer{
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 199px;
}

.isi-navigator{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.68);
}

 
.divider {
    align-items: center;
    font-size: 16px;
    display: flex;
    height: 2px;
    width: 100%;
    margin-bottom: 36px;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: rgba(241, 241, 241, 1) ;
  }

.media-sosial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.media {
    display: flex;
    flex-direction: row;
    height: 35px;
    height: 185px;
    gap: 15px;
}    