* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fffdf3;
    letter-spacing: 0.22;
}

/*nav-bar div*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
    gap: 36px;
    width: 100%;
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: px;
    width: 100%;
    height: 56px;
}

.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
}

.nav-button {
    position: relative;
    top: -10px;
    left: 900px;
    width: 64px;
    height: 22px;
    background-color: #FFFFFF;
    color: rgba(51, 51, 51, 0.68);
    font-weight: 500;
    margin-top: 15px;
    border: #FFFFFF;
    cursor: pointer;
}

.logo {
    width: 237px;
    height: 56px;
}

i {
    visibility: hidden;
}

/*header main conten*/

main {
    display: flex;
    flex-direction: column;
    padding: 80px 120px;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 140px ;
    font-family: "poppins";
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.22;
    gap: 20px;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/gambar/background.jpg);
    border-radius: 10px;
}

.tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.p-tittle {
    font-family: "DM sans";
    font-weight: 400;
}


.btn-head {
    background-color: rgba(62, 207, 76, 1);
    width: 369px;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
/* Card Section */

.daftar-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
    margin-top: 64px;
}

.tittle-isi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 623px;
    height: 67px;
    color: rgba(51, 51, 51, 0.68);
}

h6{
    font-family: "popins";
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
    color: rgba(34, 35, 37, 1);
}

.nav-menu { 
    position: static;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 10px;
}

.nav-video {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.68);
    padding: 10px 15px;
    width: auto;
    height: auto;
    text-decoration: none;
    cursor: pointer;
}

.nav-video:active {
    color: rgba(246, 73, 32, 1);
    background-color: transparent;
    box-sizing: border-box;
    box-decoration-break: clone;
}

.nav-menu:hover {
    color: rgba(246, 73, 32, 1);
    background-color: rgba(246, 73, 32, 1);
}
/*tittle bawah */

.tittle-bawah {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 140px 60px;
    font-family: "poppins";
    text-align: center;
    color: #ffffff;
    margin: 64px;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/gambar/background2.jpg);
    border-radius: 4px;    
}

.pencarian {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 8px;
    height: 58px;
    width: 525px;
    background-color: rgba(255, 255, 255, 1);
    margin: 40px;
}

.Emailmu {
    font-family: "DM Sans";
    border: transparent;
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.68);
    width: 333px;
    height: 22px;
}

.button-tittle {
    height: 42px;
    width: 132px;
    border: transparent;
    font-family: 'Poppins';
    border-radius: 10px;
    color: #fff;
    background-color: rgba(255, 189, 58, 1);
}

       /* card */
       .card {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
       }

       .draf {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
       }

       .isi {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 426px;
        padding: 20px;
        gap: 20px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(58, 53, 65, 0.12);
        text-align: flex-start;
       }
       
       .card-avatar {
        display: flex;
        flex-direction: row;
        gap: 10px;
       }

       .rating {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
       }

/*footer*/

footer {
    display: flex;
    flex-direction: column;
   padding: 60px 120px;
    gap: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 1);
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    height: 199px;
}

.alamat {
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 190px;
    grid-area: 16px;
}

.navigator {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 485px;
    height: 199px;
    gap: 48px;
}

.nav-footer{
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 199px;
}

.nav {
    border: transparent;
    background-color: transparent;
    text-decoration-line: none;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}

.isi-navigator a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration-line: none;
    overflow: auto;
    padding: 0px;
    gap: 15px;
    font-family: "DM Sans";
    font-size: 16px;
   color: rgba(51, 51, 51, 0.68);
}


.divider {
    align-items: center;
    font-size: 16px;
    display: flex;
    height: 2px;
    width: 100%;
    margin-bottom: 36px;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: rgb(104, 102, 102);
  }

.media-sosial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.media {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 1px solid transparent;
    height: 35px;
    gap: 15px;
}




@media screen and (max-width: 500px) {
    /* nav-bar*/

    header {
        width: 100%;
        height: 74px;
        padding: 16px 20px;
        justify-content: space-between;
    }

    .logo {
        width: 152px;
        height: 42px;
    }

    .logo-container {
        display: none;
    }

    i::before {
        visibility: visible;
    }

    /* banner head*/

    main {
        width: 100%;
        padding: 40px 10px;
        gap: 20px;
    }

    .head {
        display: grid;
        width: 100%;
        font-size: 0.70rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .draf {
        display: grid;
    }

    .isi {
        padding: 5px;
        display: flex;
        gap: 0.30rem;
        height: 175px;
      }

    .paragraf {
        display: none;
    }

    .img-rating {
        width: 143px;
        height: 20px;
    }

    .imh-card {
        width: 50px;
        height: 80px;
        justify-self: flex-start;
    }

    /* banner cta */

    .tittle-bawah {
        display: flex;
        width: 100%;
        height: 400px;
        font-weight: 500;
        padding: 10%;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .pencarian {
        display: flex;
        flex-direction: column;
        width:  100px;
        height: 96px;
        background: transparent;
        border: transparent;
        gap: 20px;
    }

    .Emailmu, .button-tittle {
        width: 280px;
        height: 48px;

    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border: 1px solid rgba(58, 53, 65, 0.12);
        float: left;
        gap: 20px;
    }

    .content-footer {
        display: flex;
        flex-direction: column;
    }

    .alamat {
        float: left;
        font-weight: 700;
        font-size: 14px;
    }

    .jalan {
        font-weight: 400;
        font-size: 12px;
        color: rgba(34, 35, 37, 1);
    }

    .nav {
        width: 100%;
        height: 24px;
    }

   .navigator {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 96px;
   }

   .isi-navigator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32px;
   }

   .isi-navigator a {
    display: none;
    }

}

